<html>

<head>
<title>Lab01</title>
</head>

<body>

<p><b>Lab01</b></p>
<p>Regression Analysis 563</p>
<p>by Katherine Vorpe</p>
<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
# Lab01

#Note: If a variable has a number at the end of the variable name, the number represents what Problem the variable corresponds to for Lab01.

x <- seq(0.2, 1, 0.2)

x2 <- x[c(3, 5)]

x3 <- x[c(-2, -4)]

x[1] <- 0
#this manipulates Problem 1 answer by changing the first entry in the sequence from a 1 to a 0
end.rcode-->
<!--begin.rcode
video = c(47, 63, 58, 53, 53, 63, 53, 39, 58, 50)
video5 <- video[video < 52]
video6 <- video[video <= 53]
mean7 <- mean(video) > 50
videoSectionB = c(47, 57, 47, 50, 55, 69, 26, 33, 56)
allVideo = c(video,videoSectionB)
totalStudent8 <- sum(allVideo > 58)
Variance9 <- var(allVideo < 53)
flavor10 = c("C","V", "S", "S", "V", "V", "V", "V", "V", "V", "V",
"V", "S", "V", "V", "V", "S", "C", "V")
end.rcode-->
<!--begin.rcode
#I converted the flavor10 categorical list to a numerical one to find out how many S's are in the list.


NumFlavor10 <- factor(c("C","V", "S", "S", "V", "V", "V", "V", "V", "V", "V",
"V", "S", "V", "V", "V", "S", "C", "V"))

ValuesIceCream <- summary(NumFlavor10)

#I know there is a better way to do this, but once the output showed 3 S values from the summary, I just divided 3 by 19 to get the proportion.

PropStrawberry <- (3/19)
end.rcode-->


</body>
</html>
